version: "3.8"

services:
  api:
    build: .
    container_name: "dashboard"
    ports:
    - "8080:8080"
    environment:
    - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
    depends_on:
    - db
    volumes:
    - .:/app
    - /app/node_modules
  db:
    image: postgres:15
    container_name: dashboard_db
    restart: always
    environment:
      POSTGRES_UER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dashboard
    ports:
    - "5432:5432"
    volumes:
    - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: